* {

  -moz-box-sizing: border-box;

  box-sizing: border-box;

  font-family: sans-serif;

  background-color: #0F7F98;


}


ul, 

li {

    margin: 0;

    padding: 0;

    list-style-type: none;

}


a {

  text-decoration: none;

}



.nav {

  margin:10px 5px;

  text-align: right;

}


#title {

  text-align: left;

  justify-content: left;

  color: #ffffff;

  font-size: 2.8em;

  font-weight: bolder;

}


.nav__item, 

.nav__item--selected {

  display: inline-block;

  margin: 0 5px;

}


.nav__item a, 

.nav__item--selected a {

  color: #ffffff;

  font-size: 0.9em;

  padding: 4px;

}


.nav__item--selected a {

  color: rgb(255, 255, 255);

  border-bottom : rgb(255, 255, 255) solid 2px

}


label {

  display:flex;
  font-size: 2rem;
  flex-direction: column-reverse;
  text-align: center;
  font-weight: bolder;
  color:rgb(255, 255, 255);
  
}


.banner {

  background-color:  #0F7F98;
  padding: 2rem 0;

}


.banner__content {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

input {
  margin-top: 1rem;
  padding: 0.5rem;
  color: #000000;
  font-size: 1rem;
  background-color: #ffffff;
  width: 28rem;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px rgba(26, 217, 224, 0.575);
  margin-bottom: 10em;
}

input:focus {
  animation: fadeBackground 9s infinite;

}

@keyframes fadeBackground {
  0% { background-color: #ffffff; }
  10% { background-color: #0fb8b8; }
  20% { background-color: #11b677; }
  30% { background-color: #c8dd0c; }
  40% { background-color: #b1461b; }
  50% { background-color: #be0b7a; }
  60% { background-color: #0a5161; }
  70% { background-color: #0fb8b8; }
  80% { background-color: #11b677; }
  85% { background-color: #c8dd0c; }
  90% { background-color: #b1461b; }
  95% { background-color: #be0b7a; }
  100% { background-color: #ffffff; }
}

.style1 {
  text-align: center;
  line-height: 1.5;
  margin-bottom: 1rem;
  font-style: Sans-serif;
  color: rgb(255, 255, 255);
  margin-bottom: 7em;
}

.style2 {
  color: rgb(0, 0, 0);
  text-align: left;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;


}
